html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  html,body{
      height: 100%;
      margin: 0;
    
  }
 
.container-fluid{
  overflow: hidden;
  padding: 0;
  background-image: url('../images/background2.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
    
}
.main-section{
      margin: 0 auto;
    
      margin-top:4%;
      padding: 0;
  }
.crear-cuenta{
  border-radius: 20px;
  
}

.menu{
  margin: 0 0 14px;
  text-align: center;
  width:100%;
}
a{
  font-size:12px;
  min-width:135px;
  padding: 4px 7px;
  color: #fff;
}
a:hover{
  text-decoration: none;
  
  color:white;
}
input:hover{
  border:1.5px solid #2462E7;
}

.modal-content{
    background-color:#3b4652;
    padding: 0 20px;
    box-shadow:0px 0px 10px #000;
   
}

.imagen{
    box-shadow:0px 0px 7px #262525;
    border-radius:50%;
}
.recordar{
  color: white;
}
.recordar:hover{
  
  cursor: pointer;
}

span{
  font-weight: bold;
  
}
p{
  font-size:14px;
  color: #D6D4D3;
}
@media screen and (min-width:991px) {
    button{
        width:75% !important;
    }
}

@media screen and (max-width:576px) {
  .main-section{
    max-width:385px;
    max-height: 627.4px;
  }
}

