html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.portada{
    
    background-image: url('../images/blur-bokeh-close-up-225228-min.jpg');
    background-size:cover;
    
}

button{
    background: #fd324e;
}
header ul a{
    color: white;
}
.container-fluid{
    padding: 0;
    overflow: hidden;
}

