html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.portada{
    min-height: 100vh;
    
    background-image: url('../images/blur-bokeh-close-up-225228-min.jpg');
    background-size:cover;
    
    
}

button{
    background: #fd324e;
}

header ul a{
    color: #fd324e;
}
.container-fluid{
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
}



.a{
    color: white;
}
.a:hover{
    color: black;
    text-decoration: none;
}

@media screen and (min-width:575px) {
    span{
        min-height: 100vh;
    }
}

@media screen and (min-width:767px) {
    .msm{
        height: 350px;
        width: 100%;
    }
}
@media screen and (min-width:991px) {
    .mim{
        height: 450px;
        width: 100%;
        
    }
}
@media screen and (min-width:1119px) {
    .logo{
        font-size: 90px;
    }
   
   h2{
       font-size:55px;
   }
   p{
       text-align:center;
       font-size:18px;
   }
   .bnm{
       margin-bottom:10px;
   }
   .njk{
       margin-top:60px;
   }
   .jkl{
       height: 550px;
       width: 100%;
       
   }
  
}

@media screen and (min-width:768px) {
    .vb{
        height: 100%;
    }
}

@media screen and (max-width:815px) {
    .mab{
        margin-bottom:48px;
    }
}


